body {
    font: normal 10pt Arial,sans-serif;
    color: #333;
    margin: 60px auto;
    width: 70%;
}
a {
    text-decoration: none;
    color: #6877be;
}
a:hover {
    text-decoration: underline;
}
